In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency

In [27]:
#chargement des données
annees = [str(x) for x in np.arange(2019,2023)]
#fichiers = ['caracteristiques', 'lieux', 'usagers','vehicules']
carac = pd.DataFrame()
lieux = pd.DataFrame()
usagers = pd.DataFrame()
vehicules = pd.DataFrame()
for annee in annees : 
    carac = pd.concat([carac, pd.read_csv(f"caracteristiques-{annee}.csv", sep=';')])
    lieux = pd.concat([lieux, pd.read_csv(f"lieux-{annee}.csv", sep=';')])
    usagers = pd.concat([usagers, pd.read_csv(f"usagers-{annee}.csv", sep=';')])
    vehicules = pd.concat([vehicules, pd.read_csv(f"vehicules-{annee}.csv", sep=';')])

C:\Users\Eric\AppData\Local\Temp\ipykernel_13856\1100335970.py:10: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux = pd.concat([lieux, pd.read_csv(f"lieux-{annee}.csv", sep=';')])

In [40]:
df

,Num_Acc_x,jour,mois,an,hrmn,lum,dep,com,agg,int,...,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,id_usager
0,2.019000e+11,30,11,2019,01:30,4,93,93053,1,1,...,2,2002.0,0,1,0,-1,-1,-1,-1,NaN
1,2.019000e+11,30,11,2019,01:30,4,93,93053,1,1,...,2,1993.0,5,1,0,-1,-1,-1,-1,NaN
2,2.019000e+11,30,11,2019,01:30,4,93,93053,1,1,...,1,1959.0,0,1,0,-1,-1,-1,-1,NaN
3,2.019000e+11,30,11,2019,02:50,3,93,93066,1,1,...,2,1994.0,0,1,0,-1,-1,-1,-1,NaN
4,2.019000e+11,28,11,2019,15:15,1,92,92036,1,1,...,1,1996.0,0,1,0,-1,-1,0,-1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494177,2.022001e+11,1,1,2022,08:40,1,81,81099,1,3,...,2,2002.0,5,1,-1,-1,0,0,-1,968 230
494178,2.022001e+11,1,1,2022,08:40,1,81,81099,1,3,...,2,2004.0,5,1,-1,-1,0,0,-1,968 231
494179,2.022001e+11,1,1,2022,08:40,1,81,81099,1,3,...,2,1953.0,5,1,-1,-1,0,0,-1,968 232
494180,2.022001e+11,1,3,2022,16:55,1,41,41018,2,1,...,1,1992.0,1,2,6,-1,-1,-1,-1,968 228
494181,2.022001e+11,1,3,2022,16:55,1,41,41018,2,1,...,1,2000.0,-1,1,-1,-1,-1,-1,-1,968 229

In [6]:
#correction identifiant accident
carac['Num_Acc'].fillna(carac['Accident_Id'], inplace=True)
carac = carac.drop('Accident_Id', axis = 1)

#jointure carac-lieux
df = pd.merge(left = carac, right = lieux, left_on = 'Num_Acc', right_on='Num_Acc')

#jointure df-vehicules
df = pd.merge(left=df, right=vehicules, left_on='Num_Acc', right_on='Num_Acc')

#jointure df-usagers
df = pd.merge(left=df, right=usagers, right_on='id_vehicule', left_on='id_vehicule')

KeyError: 'Accident_Id'